@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    max-width: 1540px;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 0 80px;
}

.header-logo {
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    color: black;
}

.dl-btn {
    color: black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "poppins", sans-serif;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    text-decoration: none;
}

/* banner-style */
.hero {
    background-image: url('assets/Hero-bg.png');
    height: 650px;

}

.hero-banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 900px;
    margin: 0 auto;

}

.hero-banner-title {
    font-size: 60px;
    font-family: "poppins", sans-serif;
    line-height: 80px;
}

.hero-banner-description {
    font-size: 18px;
    font-family: "poppins", sans-serif;
    margin: 20px auto;
    font-weight: 600;
}

.hero-banner-image {
    margin-top: 50px;

}

.btn-primary {
    padding: 10px 30px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;


}

/* section */

main section {
    max-width: 1540px;
    ;
}

.Why-Web-Dev {
    background-color: rgb(247, 247, 247);
    width: 1250px;
    height: 1230px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 80px;
}

.text-container {
    display: flex;

}

.Why-Web-Dev-text {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.Why-Web-Dev-text .wev-dev-section-title {
    font-size: 30px;
    font-family: "poppins", sans-serif;
}

.wev-dev-section-description {
    font-size: 18px;
    font-family: "poppins", sans-serif;
    font-weight: 600;


}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.card-01 {
    width: 1000px;
    height: 300px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(247, 247, 247));
    border-radius: 10px;

}

.card-02 {
    width: 1000px;
    height: 300px;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(247, 247, 247));
    border-radius: 10px;
}

.card-03 {
    width: 1000px;
    height: 300px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(247, 247, 247));
    border-radius: 10px;
}

.card-01-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px 30px 50px;


}

.card-text {
    width: 500px;
}

.card-text-02 {
    width: 500px;
    margin-right: 90px;
}

.card-title {
    color: black;
    font-size: 24px;
    word-spacing: 5px;
    font-weight: bold;
    font-family: "poppins", sans-serif;

}

.card-description {
    color: rgb(93, 93, 93);
    font-size: 15px;
    margin-top: 10px;
    font-family: "poppins", sans-serif;
}

.L-M-btn {
    color: black;
    border: 1px solid black;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    background: none;
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.inspiration-section {
    background-color: rgb(255, 255, 255);
    width: 1250px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 50px;

}

.inspiration-text-box {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.inspiration-text-container {
    display: flex;
}

.inspiration-text-title {
    font-size: 30px;
    font-family: "poppins", sans-serif;
}

.inspiration-text-description {
    font-size: 18px;
    font-family: "poppins", sans-serif;
    font-weight: 600;

}

.video-container {
    width: 1210px;
    height: 680px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 15px;

}

video {
    width: 1210px;
    height: 680px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: white;
    border: 2px solid gray;
}

.target-section {
    background-color: rgb(255, 255, 255);
    width: 1250px;
    height: 580px;
    margin: 0 auto;

}

.target-text-container {
    display: flex;
}

.target-text-box {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.target-text-title {
    font-size: 30px;
    font-family: "poppins", sans-serif;


}

.target-text-description {
    font-size: 18px;
    font-family: "poppins", sans-serif;
    font-weight: 600;


}

.target-card {
    display: flex;
    justify-content: space-between;

}

.html-card {
    width: 320px;
    height: 300px;
    background-color: rgb(255, 208, 132);
    border-radius: 12px;
    padding: 40px;
}

.html-card img {
    width: 100px;
    margin-bottom: 10px;
}

.card-element-tittle {
    font-size: 30px;
    font-family: "poppins", sans-serif;

}

.description {
    font-size: 18px;
    font-family: "poppins", sans-serif;
}

.css-card {
    width: 320px;
    height: 300px;
    background-color: rgb(152, 229, 255);
    border-radius: 12px;
    padding: 40px;

}

.css-card img {
    width: 100px;
    margin-bottom: 10px;

}

.js-card {
    width: 320px;
    height: 300px;
    background-color: rgb(249, 254, 195);
    border-radius: 12px;
    padding: 40px;

}

.js-card img {
    width: 100px;
    margin-bottom: 10px;

}

/* support-section */
.support-box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.441), rgba(0, 0, 0, 0.433)), url('assets/handshake.jpg');
    width: 1250px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.support-text {
    text-align: center;
    margin: auto 0;

}

.support-title {
    font-size: 30px;
    font-family: "poppins", sans-serif;
    color: white;
    margin-bottom: 10px;
}

.support-description {
    font-size: 18px;
    font-family: "poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 20px;
}

.place-text {
    padding: 10px 200px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-family: "poppins", sans-serif;

}

.smit-btn {
    padding: 9px 50px;
    background-color: white;
    font-size: 18px;
    font-family: "poppins", sans-serif;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.support-form {
    display: flex;
    gap: 10px;
}

.footer-section {
    width: 100%;
    background-color: rgb(247, 247, 247);
    margin-top: 80px;

}

.footer-element {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.footer-text {
    font-size: 18px;
    font-family: "poppins", sans-serif;
    font-weight: 600;
}

.social-links img {
    margin-left: 20px;
}

.next-target-section {
    width: 1250px;
    height: 880px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.card {
    width: 1250px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    border: 1.25px solid rgb(160, 160, 160);

}

.next-target-text {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;


}

.next-target-title {
    font-size: 30px;
    font-family: "poppins", sans-serif;


}

.next-target-description {
    font-size: 18px;
    font-family: "poppins", sans-serif;
    font-weight: 600;

}
.n-card-text{
    margin-left: 40px;
    width: 900px;

}
.card-img{
    margin-left: 50px;
}
.r-card-title{
    font-size: 25px;
    font-family: "poppins", sans-serif;
    margin: 5px 0 10px 0 ;
}
.r-card-description{
    font-size: 16px;
    font-family: "poppins", sans-serif;
    line-height: 25px;
    margin: 5px 0 10px 0;
}